@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

* {
  box-sizing: border-box;
  font-family: Outfit;
}

body {
  background-image: url("https://wallpaperbat.com/img/16304-artificial-intelligence-wallpaper-top-free-artificial.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  overflow-x: hidden;
}
.center-orb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  z-index: 1;
}

.orb-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid rgba(59, 130, 246, 0.5);
  border-radius: 50%;
  animation: pulse 3s ease-in-out infinite;
}

.orb-ring:nth-child(1) {
  width: 100px;
  height: 100px;
  animation-delay: 0s;
}

.orb-ring:nth-child(2) {
  width: 150px;
  height: 150px;
  animation-delay: 0.3s;
}

.orb-ring:nth-child(3) {
  width: 200px;
  height: 200px;
  animation-delay: 0.6s;
}

.orb-ring:nth-child(4) {
  width: 250px;
  height: 250px;
  animation-delay: 0.9s;
}

.orb-glow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: radial-gradient(
    circle,
    rgba(59, 130, 246, 0.4) 0%,
    transparent 70%
  );
  border-radius: 50%;
  filter: blur(20px);
  animation: glow 2s ease-in-out infinite alternate;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(38, 50, 70, 0.8);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(38, 50, 70, 0.8);
}
